<% include partials/header.ejs %>

    <div class="ui main text container segment">
        <div class="ui huge herader">
            EDIT
            <%= blog.title %>
        </div>
        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label> Title</label>
                <input type="text" name="blog[title]" value="<%= blog.title %>">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" value="<%= blog.image %>">
            </div>
            <div class="field">
                <label>Blog Post</label>
                <textarea name="blog[body]">
<%= blog.body %>
                </textarea>
            </div>
            <button class="ui green big basic button">Submit</button>
        </form>
    </div>

    <% include partials/footer.ejs %>