<% include partials/header.ejs%>

    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= blog.title %>
        </div>

        <div class="ui top attached">
            <div class="item">
                <div class="field">
                    <img class="ui centered rounded image" src="<%= blog.image %>">
                    <div class="content">
                        <span>
                            <%= blog.created.toDateString() %>
                        </span>
                    </div>
                    <div class="description">
                        <p>
                            <%= blog.body %>
                        </p>
                    </div>
                    <button class="ui orange big button">
                        <a href="/blogs/<%= blog.id %>/edit">Edit the Blog</a>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <% include partials/footer.ejs%>